.day {
    width: 30px !important;
    height: 30px !important;
    margin-right: 5px;
    font-size: 20px;
    color: #DBDBDB;
    border: 1px solid #D4D4D4;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.day.selected {
    color: #ffffff;
    background-color: #CFCFCF;
}